<p><span id="counter-value">@currentCount</span></p>

@code {
    private int currentCount = 0;
    private List<int> _items = new List<int>();

    private void Increment()
    {
        _items.Clear();
    }
}
