<p><span id="counter-value">@currentCount</span></p>

@code {
    private int currentCount = 0;
    private record Row
    {
        public int Id { get; set; }
        public int Twice() { return Id * 2; }
    }
}
