<p><span id="counter-value">@currentCount</span></p>

@code {
    private int currentCount = 0;
    private System.Collections.Generic.List<System.DateTime> xs = new System.Collections.Generic.List<System.DateTime>();
}
