<p><span id="counter-value">@currentCount</span></p>

@code {
    private int currentCount = 0;
    private System.Collections.Generic.List<decimal> xs = new System.Collections.Generic.List<decimal>();
}
